ristorino/src/main/resources/xsd/restaurante2.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" targetNamespace="http://services.restaurante2.das.ubp.edu.ar/" xmlns:tns="http://services.restaurante2.das.ubp.edu.ar/" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="ConsultarDisponibilidadRequest" type="tns:ConsultarDisponibilidadRequest"/>

  <xs:element name="ConsultarDisponibilidadResponse" type="tns:ConsultarDisponibilidadResponse"/>

  <xs:element name="GetInfoRestauranteRequest" type="tns:GetInfoRestauranteRequest"/>

  <xs:element name="GetInfoRestauranteResponse" type="tns:GetInfoRestauranteResponse"/>

  <xs:element name="JsonProcessingException" type="tns:JsonProcessingException"/>

  <xs:element name="ModificarReservaRequest" type="tns:ModificarReservaRequest"/>

  <xs:element name="ModificarReservaResponse" type="tns:ModificarReservaResponse"/>

  <xs:element name="cancelarReservaRequest" type="tns:cancelarReservaRequest"/>

  <xs:element name="cancelarReservaResponse" type="tns:cancelarReservaResponse"/>

  <xs:element name="confirmarReservaRequest" type="tns:confirmarReservaRequest"/>

  <xs:element name="confirmarReservaResponse" type="tns:confirmarReservaResponse"/>

  <xs:element name="notificarRestauranteRequest" type="tns:notificarRestauranteRequest"/>

  <xs:element name="notificarRestauranteResponse" type="tns:notificarRestauranteResponse"/>

  <xs:element name="obtenerPromocionesRequest" type="tns:obtenerPromocionesRequest"/>

  <xs:element name="obtenerPromocionesResponse" type="tns:obtenerPromocionesResponse"/>

  <xs:element name="registrarClicksRequest" type="tns:registrarClicksRequest"/>

  <xs:element name="registrarClicksResponse" type="tns:registrarClicksResponse"/>

  <xs:complexType name="obtenerPromocionesRequest">
    <xs:sequence>
      <xs:element name="ObtenerPromociones" type="tns:obtenerPromocionesReqBean" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="obtenerPromocionesReqBean">
    <xs:sequence>
      <xs:element name="id" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="obtenerPromocionesResponse">
    <xs:sequence>
      <xs:element name="Promociones" type="tns:contenidoBean" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="contenidoBean">
    <xs:sequence>
      <xs:element name="contenidoAPublicar" type="xs:string" minOccurs="0"/>
      <xs:element name="costoClick" type="xs:decimal" minOccurs="0"/>
      <xs:element name="imagenAPublicar" type="xs:string" minOccurs="0"/>
      <xs:element name="nroContenido" type="xs:int"/>
      <xs:element name="nroSucursal" type="xs:int" minOccurs="0"/>
      <xs:element name="publicado" type="xs:boolean"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="registrarClicksRequest">
    <xs:sequence>
      <xs:element name="Clicks" type="tns:soliClickBean" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="soliClickBean">
    <xs:sequence>
      <xs:element name="codContenidoRestaurante" type="xs:string" minOccurs="0"/>
      <xs:element name="correo_cliente" type="xs:string" minOccurs="0"/>
      <xs:element name="costoClick" type="xs:float"/>
      <xs:element name="fechaHoraRegistro" type="xs:string" minOccurs="0"/>
      <xs:element name="notificado" type="xs:boolean"/>
      <xs:element name="nroClick" type="xs:int"/>
      <xs:element name="nroRestaurante" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="registrarClicksResponse">
    <xs:sequence>
      <xs:element name="Response" type="tns:responseBean" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="responseBean">
    <xs:sequence>
      <xs:element name="message" type="xs:string" minOccurs="0"/>
      <xs:element name="status" type="xs:string" minOccurs="0"/>
      <xs:element name="success" type="xs:boolean"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="ConsultarDisponibilidadRequest">
    <xs:sequence>
      <xs:element name="soliHorario" type="tns:SoliHorario" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="SoliHorario">
    <xs:sequence>
      <xs:element name="idSucursal" type="xs:int"/>
      <xs:element name="codZona" type="xs:int"/>
      <xs:element name="fecha" type="xs:string" minOccurs="0"/>
      <xs:element name="cantComensales" type="xs:int"/>
      <xs:element name="menores" type="xs:boolean"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="ConsultarDisponibilidadResponse">
    <xs:sequence>
      <xs:element name="HorariosResponse" type="tns:horarioBean" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="horarioBean">
    <xs:sequence>
      <xs:element name="horaHasta" type="xs:string" minOccurs="0"/>
      <xs:element name="horaReserva" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="confirmarReservaRequest">
    <xs:sequence>
      <xs:element name="reservaRestaurante" type="tns:reservaRestauranteBean" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="reservaRestauranteBean">
    <xs:sequence>
      <xs:element name="reserva" type="tns:reservaSolicitudBean" minOccurs="0"/>
      <xs:element name="solicitudCliente" type="tns:solicitudClienteBean" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="reservaSolicitudBean">
    <xs:sequence>
      <xs:element name="cantAdultos" type="xs:int"/>
      <xs:element name="cantMenores" type="xs:int"/>
      <xs:element name="codSucursalRestaurante" type="xs:string" minOccurs="0"/>
      <xs:element name="codZona" type="xs:int"/>
      <xs:element name="correo" type="xs:string" minOccurs="0"/>
      <xs:element name="costoReserva" type="xs:float"/>
      <xs:element name="fechaReserva" type="xs:string" minOccurs="0"/>
      <xs:element name="horaReserva" type="xs:string" minOccurs="0"/>
      <xs:element name="idSucursal" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="solicitudClienteBean">
    <xs:sequence>
      <xs:element name="apellido" type="xs:string" minOccurs="0"/>
      <xs:element name="correo" type="xs:string" minOccurs="0"/>
      <xs:element name="nombre" type="xs:string" minOccurs="0"/>
      <xs:element name="telefonos" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="confirmarReservaResponse">
    <xs:sequence>
      <xs:element name="ReservaResponse" type="tns:confirmarReservaResp" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="confirmarReservaResp">
    <xs:sequence>
      <xs:element name="codReserva" type="xs:string" minOccurs="0"/>
      <xs:element name="estado" type="xs:string" minOccurs="0"/>
      <xs:element name="mensaje" type="xs:string" minOccurs="0"/>
      <xs:element name="success" type="xs:boolean"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="notificarRestauranteRequest">
    <xs:sequence>
      <xs:element name="NotiRestReqBean" type="tns:notiRestReqBean" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="notiRestReqBean">
    <xs:sequence>
      <xs:element name="costoAplicado" type="xs:decimal" minOccurs="0"/>
      <xs:element name="nroContenidos" type="xs:string" minOccurs="0"/>
      <xs:element name="nroRestaurante" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="notificarRestauranteResponse">
    <xs:sequence>
      <xs:element name="Notificacion" type="tns:updPublicarContenidosRespBean" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="updPublicarContenidosRespBean">
    <xs:sequence>
      <xs:element name="costoAplicado" type="xs:decimal" minOccurs="0"/>
      <xs:element name="registrosActualizados" type="xs:int" minOccurs="0"/>
      <xs:element name="registrosSolicitados" type="xs:int" minOccurs="0"/>
      <xs:element name="resultado" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="cancelarReservaRequest">
    <xs:sequence>
      <xs:element name="CancelarReserva" type="tns:cancelarReservaReqBean" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="cancelarReservaReqBean">
    <xs:sequence>
      <xs:element name="codReservaSucursal" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="cancelarReservaResponse">
    <xs:sequence>
      <xs:element name="Response" type="tns:responseBean" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="GetInfoRestauranteRequest">
    <xs:sequence>
      <xs:element name="id" type="xs:int" form="qualified"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="GetInfoRestauranteResponse">
    <xs:sequence>
      <xs:element name="InfoRestaurante" type="tns:restauranteBean" form="qualified" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="restauranteBean">
    <xs:sequence>
      <xs:element name="contenidos" type="tns:contenidoBean" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="cuit" type="xs:string" minOccurs="0"/>
      <xs:element name="nroRestaurante" type="xs:int"/>
      <xs:element name="razonSocial" type="xs:string" minOccurs="0"/>
      <xs:element name="sucursales" type="tns:sucursalBean" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="sucursalBean">
    <xs:sequence>
      <xs:element name="barrio" type="xs:string" minOccurs="0"/>
      <xs:element name="calle" type="xs:string" minOccurs="0"/>
      <xs:element name="categoriaPrecio" type="xs:string" minOccurs="0"/>
      <xs:element name="codPostal" type="xs:string" minOccurs="0"/>
      <xs:element name="codProvincia" type="xs:int"/>
      <xs:element name="contenidos" type="tns:contenidoBean" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="especialidades" type="tns:especialidadBean" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="estilos" type="tns:estiloBean" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="minTolerenciaReserva" type="xs:int"/>
      <xs:element name="nomLocalidad" type="xs:string" minOccurs="0"/>
      <xs:element name="nomProvincia" type="xs:string" minOccurs="0"/>
      <xs:element name="nomSucursal" type="xs:string" minOccurs="0"/>
      <xs:element name="nroCalle" type="xs:string" minOccurs="0"/>
      <xs:element name="nroCategoria" type="xs:int"/>
      <xs:element name="nroLocalidad" type="xs:int"/>
      <xs:element name="nroSucursal" type="xs:int"/>
      <xs:element name="telefonos" type="xs:string" minOccurs="0"/>
      <xs:element name="tiposComidas" type="tns:tipoComidaBean" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="totalComensales" type="xs:int"/>
      <xs:element name="turnos" type="tns:turnoBean" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="zonas" type="tns:zonaBean" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="zonasTurnos" type="tns:zonaTurnoBean" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="especialidadBean">
    <xs:sequence>
      <xs:element name="habilitada" type="xs:boolean"/>
      <xs:element name="nomRestriccion" type="xs:string" minOccurs="0"/>
      <xs:element name="nroRestriccion" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="estiloBean">
    <xs:sequence>
      <xs:element name="habilitado" type="xs:boolean"/>
      <xs:element name="nomEstilo" type="xs:string" minOccurs="0"/>
      <xs:element name="nroEstilo" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="tipoComidaBean">
    <xs:sequence>
      <xs:element name="habilitado" type="xs:boolean"/>
      <xs:element name="nomTipoComida" type="xs:string" minOccurs="0"/>
      <xs:element name="nroTipoComida" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="turnoBean">
    <xs:sequence>
      <xs:element name="habilitado" type="xs:boolean" minOccurs="0"/>
      <xs:element name="horaDesde" type="xs:string" minOccurs="0"/>
      <xs:element name="horaHasta" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="zonaBean">
    <xs:sequence>
      <xs:element name="cantComensales" type="xs:int"/>
      <xs:element name="codZona" type="xs:int"/>
      <xs:element name="habilitada" type="xs:boolean"/>
      <xs:element name="nomZona" type="xs:string" minOccurs="0"/>
      <xs:element name="permiteMenores" type="xs:boolean"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="zonaTurnoBean">
    <xs:sequence>
      <xs:element name="codZona" type="xs:int"/>
      <xs:element name="horaDesde" type="xs:string" minOccurs="0"/>
      <xs:element name="permiteMenores" type="xs:boolean"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="JsonProcessingException">
    <xs:sequence>
      <xs:element name="location" type="tns:jsonLocation" minOccurs="0"/>
      <xs:element name="message" type="xs:string" minOccurs="0"/>
      <xs:element name="originalMessage" type="xs:string" minOccurs="0"/>
      <xs:element name="processor" type="xs:anyType" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="jsonLocation">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="ModificarReservaRequest">
    <xs:sequence>
      <xs:element name="ModificarReserva" type="tns:modificarReservaReqBean" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="modificarReservaReqBean">
    <xs:sequence>
      <xs:element name="cantAdultos" type="xs:int"/>
      <xs:element name="cantMenores" type="xs:int"/>
      <xs:element name="codReservaSucursal" type="xs:string" minOccurs="0"/>
      <xs:element name="codZona" type="xs:int"/>
      <xs:element name="costoReserva" type="xs:decimal" minOccurs="0"/>
      <xs:element name="fechaReserva" type="xs:string" minOccurs="0"/>
      <xs:element name="horaReserva" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="ModificarReservaResponse">
    <xs:sequence>
      <xs:element name="Response" type="tns:responseBean" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>

